<div class="colum-flex">
<mat-card>
  <mat-toolbar >Minhas Vagas</mat-toolbar>

  <app-vagas-list
  *ngIf="vagas$ | async as vagas; else loading"
  [vagas]="vagas"
    (add)="onAdd()"
    (edit)="onEdit($event)"
  />

  <ng-template #loading >
    <mat-card-content>
      <p>
        Se esse é seu primeiro acesso do dia, espere cerca de 60 segundos e reinicie a página.
      </p>
      <p>
        Esta versão está sendo executada em um servidor protótipo, esse só é ativado quando alguém acessa.
      </p>
    </mat-card-content>
    <div class="carregando">
      <mat-spinner/>
    </div>
  </ng-template>

</mat-card>
</div>

