<mat-card>

<mat-toolbar color="secondary">Minhas Vagas</mat-toolbar>

<div *ngIf="vagas$ | async as vagas; else loading">

  <table mat-table [dataSource]="vagas" class="mat-elevation-z8">
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Vaga </th>
    <td mat-cell *matCellDef="let v"> {{v.titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
  <td mat-cell *matCellDef="let v">
    <mat-icon aria-hidden="false" aria-label="Tipo de vaga">{{v.tipo | tipo}}</mat-icon>
  </td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

<ng-template #loading >
  carregando...
</ng-template>

</mat-card>
