<mat-card>
  <mat-toolbar color="secondary">Nova Vaga</mat-toolbar>
  <mat-card-content>

    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Título" formControlName="titulo">
      </mat-form-field>

      <mat-form-field class="full-width">

        <mat-select formControlName="tipo">
          <mat-option value="null"></mat-option>
          <mat-option value="Desenvolvimento">Desenvolvimento</mat-option>
          <mat-option value="Outro">Outro</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="onCancelar()">CANCELAR</button>
    <button mat-flat-button color="primary" class="btn-space" (click)="onSalvar()">SALVAR</button>
  </mat-card-actions>

</mat-card>
