
.coluna-tipo{
  flex: 0 0 65px;
}
.mat-tabe{
  overflow: auto;
  max-height: 600px;
}
.mat-mdc-row:hover .mat-mdc-cell {
  background:  lightblue;
}
.fab-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
