<mat-table [dataSource]="vagas">

  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef> Vaga </mat-header-cell>
    <mat-cell *matCellDef="let v"> {{v.titulo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <mat-header-cell *matHeaderCellDef class="coluna-tipo"> Tipo </mat-header-cell>
    <mat-cell *matCellDef="let v" class="coluna-tipo">
      <mat-icon aria-hidden="false" aria-label="Tipo de vaga">
        {{v.tipo | tipo}}
      </mat-icon>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let vagaSelecionada; columns: displayedColumns;"
    (click)="onEdit(vagaSelecionada)"
  />

</mat-table>

<div class="fab-container">
  <button
    mat-fab
    color="primary"
    aria-label="Adicione uma vaga"
    (click)="onAdd()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
